{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3",
        "shippedProposals": true,
        "targets": {
          "browsers": ["last 2 versions", "not ie <= 8"],
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", { "regenerator": true }],
    "@babel/plugin-proposal-class-properties"
  ]
}
